<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geolocation API Test</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
            <h1>Geolocation API Test</h1>

            <h2>緯度：{{lat}}</h2> 

            <h2>經度：{{lng}}</h2> 

            <h2>精準度：{{accuracy}}</h2> 

            <!-- <h2>{{check_result}}</h2> -->

            <h2>捷運站經緯度</h2>

            請選擇捷運路線:  
            

            <select  id="Lines" @change="selected_line" v-model="user_selected_line"> 
                <option value="R"> 淡水信義線 </option>
                    <option value="G"> 松山新店線</option>
                    <option value="BL"> 板南線</option>
                    <option value="O"> 中和新爐線</option>
                    <option value="BR"> 文湖線</option>
              </select>
              <br><br>




            請選擇捷運站: 

            <select   id="Stations" @change="selected_station" v-model="user_selected_station"> 
                <option value="" selected>請選擇捷運路線</option>
                <!-- <option value="永寧">  -->
            </select>

            <br><br>
            
            緯度：<input type="text" v-model="targetLat"><br>
            經度：<input type="text" v-model="targetLng"><br>



            <h2>與捷運站距離：{{distanc}} 公尺</h2>

            <!-- 台北捷運各路線車站資料 API URL -->
            <!-- https://tdx.transportdata.tw/api/basic/v2/Rail/Metro/StationOfRoute/TRTC?%24filter=contains%28LineID%2C%27BL%27%29&%24top=1&%24format=JSON -->
            <!-- URL 原文 -->
            <!-- https://tdx.transportdata.tw/api/basic/v2/Rail/Metro/StationOfRoute/TRTC?$filter=contains(LineID,'BL')&$top=1&$format=JSON -->

             <!-- 台北捷運各車站資料 API URL -->
            <!-- https://tdx.transportdata.tw/api/basic/v2/Rail/Metro/Station/TRTC?$filter=contains(StationName/Zh_tw,'台北車站')&$format=JSON -->

    </div>
</body>
<script>
    // 判斷瀏覽器是否支援 geolocation API 
    if ("geolocation" in navigator) {
         console.log(`OK! geolocation API is Support!`);

         Vue.createApp({
            

            data(){     // 變數放這裡
                return {
                    options:{
                        enableHighAccuracy: true, 
                        timeout: 60000,          
                        maximumAge: 60000       
                    },
                    lat: 0,
                    lng: 0,
                    accuracy:0,
                    targetLat: 0,   //判斷目標經緯度
                    targetLng: 0,
                    radius: 50,             //距離範圍限制半徑 50 公尺
                    check_result: false, 
                    distanc: 0,
                    user_selected_line:'',
                    user_selected_station:'',
                    api_token: '',
                }
            },
            watch: {
            // 監聽值的變更
            targetLat(newValue, oldValue) {
            // console.log(`Message changed from "${oldValue}" to "${newValue}"`);
            this.distanc = this.getDistanceFromLatLon(this.lat,this.lng,this.targetLat,this.targetLng)
            }
        },

            methods: {  // 函數(方法)大部分放這裡
                
                success_getlocation(pos){                    
                    this.lat = pos.coords.latitude
                    this.lng = pos.coords.longitude
                    this.accuracy = pos.coords.accuracy
                    console.log(this.lat)
                    console.log(this.lng)
                    console.log(this.accuracy);  
                    
                    if (this.accuracy>100) {
                        alert("位置定位不準確");
                    }
                    //console.log(this.getDistanceFromLatLon(this.lat,this.lng,this.targetLat,this.targetLng));                    
                    this.distanc = this.getDistanceFromLatLon(this.lat,this.lng,this.targetLat,this.targetLng)
                 },
                 error_getlocation(){
                    console.log("位置定位失敗");            
                },
                 getDistanceFromLatLon(lat1, lon1, lat2, lon2) {
                    console.log("start!");
                    
                    const R = 6371000; // 地球半徑 (公尺)
                    const dLat = (lat2 - lat1) * Math.PI / 180;
                    const dLon = (lon2 - lon1) * Math.PI / 180;
                    const a = 
                        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                        Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                        Math.sin(dLon / 2) * Math.sin(dLon / 2);
                    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                    
                    return  parseInt(R * c); // 距離（公尺）
                },

                selected_line(e){
                    console.log(e.target.value);
                    this.user_selected_line = e.target.value;
                    
                    this.show_stations(this.user_selected_line);

                    


                },

                get_AcessToken(){

                    fetch('https://tdx.transportdata.tw/auth/realms/TDXConnect/protocol/openid-connect/token', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        grant_type: 'client_credentials',
                        client_id: 'cnblue603-f97196a0-9a1d-41af',
                        client_secret: '7801c921-3b21-4dbd-963d-d43d142df306'
                    })
                })
                .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json(); // 獲取並解析 JSON
                    })
                    .then(result => {
                       
                        //console.log(result.access_token ); 
                        this.api_token = result.access_token;

                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                    });

                        

                },


                show_stations(line){

                

                    let url = `https://tdx.transportdata.tw/api/basic/v2/Rail/Metro/StationOfRoute/TRTC?$filter=LineID eq '${line}'&$top=1&$format=JSON`;
                    console.log(url);
                    
                    

                        let result =  fetch(url, {
                    method: 'GET',
                    headers: {
                        'authorization': `Bearer ${this.api_token}`
                    }})
                    
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json(); // 獲取並解析 JSON
                    })
                    .then(result => {
                        const stationData = result[0].Stations
                        console.log(stationData); 
                        document.querySelector('#Stations').innerText = '';
                        stationData.forEach((element,index) => {
                            console.log(element.StationName.Zh_tw);
                            document.querySelector('#Stations').innerHTML += `<option value="${element.StationName.Zh_tw}">${element.StationName.Zh_tw}</option>`
                        });

                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                    });


                },

                selected_station(e){ 

                    
                    
                    console.log(e.target.value);
                    this.user_selected_station = e.target.value;
                    
                    this.get_Station_location(this.user_selected_station);

                },  

                get_Station_location(station){
                    

                    let url = `https://tdx.transportdata.tw/api/basic/v2/Rail/Metro/Station/TRTC?$filter=contains(StationName/Zh_tw,'${station}')&$format=JSON`;
                    console.log(url);
                    
                    

                    let result =  fetch(url, {
                    method: 'GET',
                    headers: {
                        'authorization': `Bearer ${this.api_token}`
                    }})
                    
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json(); // 獲取並解析 JSON
                    })
                    .then(result => {
                        const stationData = result[0].StationPosition
                        console.log(stationData); 
                        let lat = stationData.PositionLat
                        let lng = stationData.PositionLon

                        
                        this.targetLat = lat
                        this.targetLng = lng

                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                    });
                }


            },
            computed: { // 函數(方法)也可以放這裡，但是放在這裡的函數(方法)不用傳參數，一定要有傳回值

            },
            mounted() {
                
                // navigator.geolocation.getCurrentPosition(
                //     (pos) => this.success_getlocation(pos),  // 使用箭頭函數保證 this 正確
                //     () => this.error_getlocation(),         // 使用箭頭函數     
                //     this.options
                // )
                navigator.geolocation.watchPosition(
                    (pos) => this.success_getlocation(pos),
                    () => this.error_getlocation(),
                    this.options
                )
                window.addEventListener('onload', this.get_AcessToken());

                if (this.accuracy>100) {
                        alert("位置定位不準確");
                    }
            },

        }).mount('#app')
       
         
    } else 
    {
     console.log(`Not Support!`);
    }




</script>
</html>